.App-header {
  background-color: #451ef1;
  padding: 20px;
  color: white;
  text-align: left;
  }
  
  .App-content {
  padding: 20px;
  text-align: left;
  }
  
  img {
  border-radius: 80%;
  margin-bottom: 5px;
  max-height: 250px;
  }